#bckgroundImg>img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

#homeBtn{
    position: absolute;
    top: -10px;
    left: -10px;
}

#homeBtn>a>button{
    width: fit-content;
    height: fit-content;
    border-bottom-right-radius: 45px;
    -moz-border-radius-topright: 45px;
    background-color: white;
}

#homeBtn>a>button>img{
    width: 20px;
    height: 20px;
    opacity: 100%;
}

#forms>div:hover{
    cursor: pointer;
    opacity: 90%;

}

#fieldForm:hover>h6{
    display: block;
}

#fieldForm>h6{
    /*display: none;*/
    color: #333333;
    font-size: 17px;
    font-weight: bold;
}

#fieldForm{
    width: 200px;
    height: 250px;
    /*background-color: red;*/
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: -550px;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    /*opacity: 90%;*/
    background-image: url("fieldH.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#staffForm{
    width: 200px;
    height: 250px;
    /*background-color: #BBC6B5;*/
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: -140px;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    /*opacity: 90%;*/
    background-image: url("staffH.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cropsForm{
    width: 200px;
    height: 250px;
    /*background-color: #BBC6B5;*/
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 270px;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    /*opacity: 90%;*/
    background-image: url("cropsH.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#toolsForm{
    width: 200px;
    height: 250px;
    /*background-color: #BBC6B5;*/
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 550px;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    /*opacity: 90%;*/
    background-image: url("equipmentsH.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vehicleForm{
    width: 200px;
    height: 250px;
    /*background-color: #BBC6B5;*/
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 550px;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    /*opacity: 95%;*/
    background-image: url("vehiclesH.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#forms{
    width: 97vw;
    height: 100vh;
    position: absolute;
    display: flex;
    gap: 10px;
    left: 13px;
}
